<a href="https://colab.research.google.com/github/Qwertysage/31-Days-of-Python/blob/main/Day%2023%20YAML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!pip install pyyaml

Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (6.0.1)

In [36]:
import yaml
from pprint import pprint as print

## Convert YAML to Dict

In [37]:
yaml_str = """
dictPersons:
- age: 52
  gpa: 3.4
  hasGraduated: true
  isEnrolled: false
  name: Mike
  tuitionBalance: null
- age: 19
  gpa: 2.9
  hasGraduated: true
  isEnrolled: true
  name: Larry
  tuitionBalance: 135000.55
- age: 23
  gpa: 3.7
  hasGraduated: false
  isEnrolled: true
  name: Ashley
  tuitionBalance: 0.0
"""

In [38]:
a = yaml.safe_load(yaml_str)
## safe load function can accept a string or a file
print(a, indent=2)
type(a)

{ 'dictPersons': [ { 'age': 52,
                     'gpa': 3.4,
                     'hasGraduated': True,
                     'isEnrolled': False,
                     'name': 'Mike',
                     'tuitionBalance': None},
                   { 'age': 19,
                     'gpa': 2.9,
                     'hasGraduated': True,
                     'isEnrolled': True,
                     'name': 'Larry',
                     'tuitionBalance': 135000.55},
                   { 'age': 23,
                     'gpa': 3.7,
                     'hasGraduated': False,
                     'isEnrolled': True,
                     'name': 'Ashley',
                     'tuitionBalance': 0.0}]}

dict

In [40]:
print(a['dictPersons'][0]["name"])

'Mike'

## Convert Dict to YAML

In [41]:
a = yaml.dump(a)
print(a)
type(a)

('dictPersons:\n'
 '- age: 52\n'
 '  gpa: 3.4\n'
 '  hasGraduated: true\n'
 '  isEnrolled: false\n'
 '  name: Mike\n'
 '  tuitionBalance: null\n'
 '- age: 19\n'
 '  gpa: 2.9\n'
 '  hasGraduated: true\n'
 '  isEnrolled: true\n'
 '  name: Larry\n'
 '  tuitionBalance: 135000.55\n'
 '- age: 23\n'
 '  gpa: 3.7\n'
 '  hasGraduated: false\n'
 '  isEnrolled: true\n'
 '  name: Ashley\n'
 '  tuitionBalance: 0.0\n')

str

In [42]:
for x in a.splitlines():
  print(f'{x}')

'dictPersons:'
'- age: 52'
'  gpa: 3.4'
'  hasGraduated: true'
'  isEnrolled: false'
'  name: Mike'
'  tuitionBalance: null'
'- age: 19'
'  gpa: 2.9'
'  hasGraduated: true'
'  isEnrolled: true'
'  name: Larry'
'  tuitionBalance: 135000.55'
'- age: 23'
'  gpa: 3.7'
'  hasGraduated: false'
'  isEnrolled: true'
'  name: Ashley'
'  tuitionBalance: 0.0'